<!DOCTYPE html>
<html>

<head>
  <title>
    記帳軟體
  </title>

  <!-- 引入東西~ -->

  <link href="/fontawesome/css/all.css" rel="stylesheet">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/index.js" defer></script>
</head>

<body>
  <div class="container-md mt-1">
    <!-- 增加日期 -->
    <div class="input-group input-group-lg">
      <div class="btn btn-primary input-group-text btn-prevDate">
        <i class="fa-solid fa-caret-left"></i>
      </div>
      <input type="date" class="form-control myDate" value="<%=date%>">
      <div class="btn btn-primary input-group-text btn-nextDate">
        <i class="fa-solid fa-caret-right"></i>
      </div>
      <!-- 增加offcanvas -->
      <div class="btn btn-primary input-group-text btn-addShow">
        <i class="fa-solid fa-calculator"></i>
      </div>
    </div>
    <div class="unit bg-primary mt-2 text-white rounded-top">
      <div class="sn d-flex align-items-center ps-2">#</div>
      <div class="title d-flex align-items-center fs-6">項目名稱</div>
      <div class="btn btn-primary btn-sm fs-6 sort">分類</div>
      <div class="btn btn-primary btn-sm fs-6 money text-end pe-2">金額</div>
    </div>
    <!-- 顯示出消費紀錄 -->
    <% 
    let totalMoney=0
    data.forEach((item,index)=>{
      totalMoney+=item.money
      let sortName = sorts.find(sort => sort.id === item.sort).name
    %>
     <div class="unit fs-6 list" id="<%=index.id%>" title="<%=item.title%>" sort="<%=item.sort%>" money="<%=item.money%>">
      <div class="sn ps-2"><%=index+1%></div>
      <div class="title"><%=item.title%></div>
      <div class="sort"><%=sortName%></div>
      <div class="money text-end pe-2"><%=item.money%></div>
     </div>
    <% 
       })
    %>
    <% if(!data || data.length <=0){%>

    <h1 class="pt-3">本日無消費紀錄</h1>

    <% } %>
    <div class="bg-primary mt-2 text-white rounded-bottom">
      <div class="text-end pe-2 text-white fs-3">
        <%=totalMoney%>
      </div>
    </div>
  </div>
  <!-- offcanvas -->
  <div class="offcanvas offcanvas-start" data-bs-scroll="false" data-bs-backdrop="static" tabindex="-1" id="inputArea"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-body">
      <form action="/expe" method="post">
        <div class="input-group input-group-lg mb-2">
          <span class="input-group-text">消費名稱</span>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="input-group input-group-lg mb-2">
          <span class="input-group-text">消費金額</span>
          <input type="number" name="money" class="form-control">
        </div>
        <div class="input-group input-group-lg mb-2">
          <span class="input-group-text">消費分類</span>
          <select name="sort" class="form-select">
            <option value selected disabled>請選擇</option>
            <% if(sorts){ %>
              <% sorts.forEach(sort=>{%>
                <option value="<%=sort.id%>">
                  <%=sort.name%>
                </option>
              <%})%>
            <%}%>
          </select>
        </div>
        <input type="hidden" name="date" value="<%=date%>">
        <input type="hidden" name="id">
        <div class="newSet mb-2 d-flex">
          <div class="btn btn-lg btn-success me-2 ms-auto btn-end">結束輸入</div>
          <!-- 不是用button來做送出按鈕，所以要自行做送出 -->
          <div class="btn btn-lg btn-primary me-2 btn-send">送出</div>
          <div class="btn btn-lg btn-warning" data-bs-dismiss="offcanvas">取消</div>
        </div>
        <div class="updateSet d-flex">
          <div class="btn btn-lg btn-danger me-2 btn-del">刪除</div>
          <div class="btn btn-lg btn-primary me-2 ms-auto btn-update">送出</div>
          <div class="btn btn-lg btn-warning" data-bs-dismiss="offcanvas">取消</div>
        </div>
      </form>
    </div>
  </div>

  <script src="/jquery/jquery.min.js"></script>
</body>

</html>